<p>register works!</p>
<div class="grid text-center">
    <div class="g-col-4"></div>
    <div class="g-col-4 ">


        <div>
            <img src="../../assets/bank inmage.jpg" widt=50px height="50px" alt="">

        </div><br>
        <h1>Bank</h1>

        <form [formGroup]="registerForm">
            <div>
                <input formControlName="uname" type="text" name="username" placeholder="username" id="user">
            </div> <br>
            <div>
                <input formControlName="acno" type="text" name="account" placeholder="account number" id="acc">
            </div><br>
            <div>
                <input formControlName="pswd" type="text" name="pass" placeholder="password" id="pass">
            </div><br>
            <button type="button" class="btn btn-primary" (click)="register()">Register</button><br>
        </form>
        <a routerLink="">sign in</a>
    </div>
    <div class="g-col-4"></div>