<p>register works!</p>
<div class="grid text-center">
    <div class="g-col-4"></div>
    <div class="g-col-4 ">

    
    <div>
        <img src="./bank inmage.jpg " widt=50px height="50px" alt="">

    </div><br>
    <h1>Bank</h1>
    <div>
        <input type="text" placeholder="username"id="user">
    </div><br>
    <div>
        <input type="text" placeholder="account number"id="acc">
    </div><br>
    <div>
        <input type="text" placeholder="password"id="pass">
    </div><br>
    <button type="button" class="btn btn-primary" onclick="sign()">Register</button><br>

    <a href="./index.html">sign in</a>
</div>
<div class="g-col-4"></div>
